:root { /* color scheme */
  --text: #282120;
  --secondary-text: #fff;
  --active-button: #FAD02C;
  --main-btn: #50C878;
  --active-main-btn: #99EDC3;
  --content: #6495ED;
  --secondary-color: #E6C2BF;
}

@font-face {
  font-family: nav;
  src: url(/res/font/Lato/Lato-Black.ttf);
}

.searchResults {
  padding: 20px;
  margin-bottom: 1rem; 
  background-color: var(--secondary-text);
  min-height: 100px;
}

.mainbody {
  padding: 10px 0;
  /*max-width: 1200px;*/
  margin: 0 auto;

}
* {
  box-sizing: border-box;
}

.left {
  float: left;
  padding: 0 10px 0 0;
  width: 34%; /* need for display of filter */
  font-family: nav;
  font-size: 16px;
}

.searchBoxOuter {
  padding: 0px 5px 0px 0px;
}

.searchBox {
  float:left;
  width:70%;
}

.searchBtn {
  float:right;
  width:30%;
}

#displayMeWhenSearch {
  display: none;
}

#displayMeWhenSearchBtn {
  width: 100%; background-color: var(--main-btn);
  margin-top: 10px;
  height: 30px;
}

.menuitem {
  padding: 8px;
  border-bottom: 1px solid var(--text);
}

.menuitem:last-child {
  border-bottom: none;
}

.menuitem:hover {
  color: var(--text);
  background-color: var(--active-button);
  border: 1px solid var(--text);
}

.collapsible {
  background-color: var(--nav);
  color: var(--secondary-text);
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;  
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: 600;
}

.active, .collapsible:hover, #jokeBtn:hover {
  background-color: var(--active-button);
  color: var(--text);
}

.content {
  display: none;  
  overflow: hidden;
  background-color: var(--content); 
  color: var(--secondary-text);
}

.main {
  float: left;
  width: 66%;
  padding: 10px 20px 20px 20px;
  overflow: hidden;
  background-color: #DCDCDC;
}

#jokeLabel {
  display: block;
  background-color: #fff;
	text-align: left;
	height: 200px;
	color: var(--text);
	font-weight: 600;
	padding: 10px;
  margin-top: 20px;
}

#jokeBtn {
  background-color: var(--main-btn);
  color: var(--text);
  margin: 10px 0px 0px 0px;
  padding: 15px;
  width: 100%;
  height: auto;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 800;
  font-family: nav;
}

#hidMeWhenSearch {
  display: block;
}

#searchLabel {
  padding: 10px 10px 0px 10px;
  display: none;
}

/*
.right {
    float: left;
    width: 20%;
    padding: 10px 15px;
    margin-top: 7px;
}
*/

@media only screen and (max-width:800px) {
  /* tablets: */
.left, .main, .right {
    width: 100%;
  }

  .left {
    padding: 0px;
  }

  .main {
    margin-top: 10px;
  }

  .horizontaltextbutton {
    padding: 0px 10px 0px 10px;
  }

  .searchBoxOuter {
    padding: 0px 5px 0px 0px;
  }

  .searchBox {
    width: 80%;
    height: 30px;
  }

  .searchBtn {
    width: 20%;
    height: 30px;
  }

  #displayMeWhenSearch {
    padding: 0px 10px 0px 10px;
  }

}

@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .left, .main, .right {
    width: 100%;
  }

  .left {
    padding: 0px;
  }

  .main {
    margin-top: 10px;
  }

  .horizontaltextbutton {
    padding: 0px 10px 0px 10px;
  }

  .searchBoxOuter {
    padding: 0px 5px 0px 0px;
  }

  .searchBox {
    width: 80%;
    height: 30px;
  }

  .searchBtn {
    width: 20%;
    height: 30px;
  }

  #displayMeWhenSearch {
    padding: 0px 10px 0px 10px;
  }

}