:root { /* color scheme */
  --text: #282120;
  --secondary-text: #fff;
  --active-button: #FAD02C;
  --main-btn: #50C878;
  --active-main-btn: #99EDC3;
  --content: #6495ED;
  --secondary-color: #E6C2BF;
}

.mainbody {
  margin: 10px 0;
}

* {
  box-sizing: border-box;
}

.leftmenu {
  float: left;
  margin: 0px 10px 0px 0px;
  width: 20%;
}

.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid gray;
}

.menuitem:last-child {
  border-bottom: none;
}

.collapsible {
  background-color: var(--nav);
  color: var(--secondary-text);
  cursor: pointer;
  padding: 10px;  
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: 600;
}

.active, .collapsible:hover {
  background-color: var(--active-button);
  color: var(--text);
}

.content {
  display: none;  
  overflow: hidden;
  background-color: var(--content); 
  color: var(--secondary-text);
}

.main {
    float: left;
    width: 60%;
    padding: 0px 20px 20px 20px;
    overflow: hidden;
    background-color: lightgrey;
}

#jokeLabel {
  display: block;
  background-color: #fff;
	text-align: left;
	height: 200px;
	color: var(--text);
	font-weight: 600;
	padding: 10px;
  margin-top: 20px;
}

#jokeBtn {
  background-color: var(--main-btn);
  color: var(--text);
  margin: 10px 0px 0px 0px;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  font-weight: 800;
}

.right {
    float: left;
    width: 20%;
    padding: 10px 15px;
    margin-top: 7px;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .leftmenu, .main, .right {
    width: 100%;
  }

  .leftmenu {
    margin: 0px 0px 10px 0px;
  }
}